
@page
@model FintechWebApp.Pages.FintechApp.AnalyseModel
@{
    var keyframes = @"
        @keyframes my-animation {
            from { background-color: #fff; }
            to { background-color: #00bfff; }
        }
    ";

}
<html>
<head>
    <title>My Page</title>
    <style>
        .card {
            position: relative;
            background-color: white;
            width: 400px;
            height: 250px;
            margin: 50px auto;
            border-radius: 20px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .card:before {
            content: '';
            position: absolute;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: -10px;
            z-index: -1;
            background: linear-gradient(45deg, #00FFFF, #228B22, #FFD700, #FF1493);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
        }
        .card-container {
            display: flex;
            justify-content: space-between;
        }


        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
    </style>
</head>
<body style="background-color:lightblue; color:black">
    <br>
    <div class="card-container">
        <div class="card">
            <h2>Most Amount was Spent on:</h2>
            <h1>@Model.dictionary?["Most Amount was Spent on "]</h1>
        </div>

        <div class="card">
            <h2>Least Amount was Spent on:</h2>
            <h1>@Model.dictionary?["Least Amount was Spent on"]</h1>
        </div>
    </div>
</body>

</html>

