@page
@model FintechWebApp.Pages.ExpenseTrackerModel
@{
    ViewData["Title"] = "Expense Tracker";
}
<a class='btn btn-primary btn-sm' href='/FintechApp/AddExpense'> New Expense</a>
<body style="background-image: url(download.jpg)">
    <p> Under Construction</p>
</body>




